[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=NetCanv Relay
Comment=Relay server for NetCanv
Exec=netcanv-relay
Icon=netcanv
Categories=Graphics;Network
Terminal=true
