[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=NetCanv Matchmaker
Comment=Matchmaker and packet relay server for NetCanv
Exec=netcanv-matchmaker
Icon=netcanv
Categories=Graphics;Network
Terminal=true
