[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=NetCanv
Comment=Online collaborative painting
Exec=netcanv
Icon=netcanv
Categories=Graphics;Network
