[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=NetCanv Matchmaker
Comment=Server for Multiplayer Paint
Exec=netcanv-matchmaker
Icon=netcanv
Categories=Graphics;Network
Terminal=true
